spring:
  batch:
    job:
      enabled: false
  shell:
    interactive:
      enabled: true

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  data:
    mongodb:
      host: 127.0.0.1
      port: 27017
      database: library

mongock:
  runner-type: InitializingBean
  change-logs-scan-package:
    - ru.khorunzhev.otus.homework3.mongock

